body {
    font-family: 'Montserrat';

}

h1 {  font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-family: 'Montserrat';
    font-size: 2rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;
    padding-bottom: 7%;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding : 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
}

.download-button {
    margin: 5% 3% 5% 0%; 
}

.title-image {
    margin : 0;
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;

}

.desc-image {
    color : #ef8172;
    padding: 1rem;
}

.desc-title {
    font-family: "Montserrat";
    font-style: bold;
    font-size: 1.5rem;
}

.desc-content {
    color: #8f8f8f;
    font-family: 'Montserrat-Light', sans-serif;
    padding: 0 20%;
    margin-bottom: 5%;
}

.desc-image:hover {
    color: #ff4c88;
}

/* Testimonial Section */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;

}

.carousel-item {
    padding : 7% 15%;
}

.testimonial-image {
    width : 10%;
    border-radius: 100%;
    margin:5%;

}

#press {
    background-color: #ef8172;
    border-color: #ef8172;
    text-align: center;
}

.press-logo {
    width:15%;
    margin:20px 20px 50px; 
}

#pricing {
    padding : 7% 7%;
    text-align: center;
}

#features {
    background-color: #fff;
    position: relative;
    z-index: 1;
}

#cta {
    padding: 5% 15% 3%;
    background-color: #ef8172;
    color: #fff;
}

#footer {
    text-align: center;
    padding: 0 35%;
}

#footer-icons{
    padding:7% 2% 1%;
}

@media (max-width : 991px) {
    .title-image{
        position: static;
        transform: none;
    }

    #title{
        text-align: center;
    }

    #cta {
        text-align: center;
    }
}